@value button-scale, font-basic-size, todo-width, medium-space-em, medium-space-rem from '../../common/size.css';
@value dark-trashBtn-color, dark-font-color, white-color, item-before-color, item-hover-color, point-color from '../../common/colors.css';

.item {
  padding: medium-space-em medium-space-rem;
  font-size: font-basic-size;
  display: flex;
  align-items: center;
}

.checkbox::before {
  content: '\2713';
  font-size: calc(font-basic-size * 1.5);
  color: white-color;
  text-align: center;
  line-height: 24px;
  padding-left: 0.2rem;
}

.checkbox {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid item-before-color;
  background-color: white-color;
  cursor: pointer;
}
.checkbox:hover {
  border-color: item-hover-color;
  background-color: none-white-color;
}

.checkbox:checked {
  border: none;
  background: point-color;
}

.todo {
  padding-left: medium-space-rem;
  width: todo-width;
}

.trashBtn {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.dark .trashBtn {
  background: dark-trashBtn-color;
  color: dark-font-color;
}

.trashBtn:hover {
  transform: button-scale;
}
