.item {
  padding: var(--medium-space-em) var(--medium-space-rem);
  font-size: var(--font-basic-size);
  display: flex;
  align-items: center;
}

.checkbox::before {
  content: '\2713';
  font-size: calc(var(--font-basic-size) * 1.5);
  color: var(--white-color);
  text-align: center;
  line-height: 24px;
  padding-left: 0.2rem;
}

.checkbox {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid var(--item-before-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.checkbox:hover {
  border-color: var(--item-hover-color);
  background-color: var(--none-white-color);
}

.checkbox:checked {
  border: none;
  background: var(--point-color);
}

.todo {
  padding-left: var(--medium-space-rem);
  width: var(--todo-width);
}

.trashBtn {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: var(--trashBtn-color);
  color: var(--font-color);
}

.trashBtn:hover {
  background-color: var(--point-color);
  transform: var(--button-scale) rotate(15deg);
}
