.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--body-point-color);
  padding: var(--large-space-em) var(--small-space-rem);
  border-bottom: 1px solid var(--item-hover-color);
}

.filters {
  display: flex;
  padding-right: var(--medium-space-rem);
}

.theme {
  background: transparent;
  margin-left: var(--medium-space-rem);
  cursor: pointer;
  color: var(--font-color);
  font-size: var(--font-basic-size);
}

.theme:hover {
  transform: var(--button-scale);
  color: var(--point-color);
}

.filter {
  background-color: transparent;
  color: var(--point-color);
  cursor: pointer;
  opacity: 0.7;
  font-size: var(--font-basic-size);
  font-weight: bold;
  padding: 0 var(--small-space-rem);
}

.filter:hover {
  font-weight: bold;
  opacity: 1;
}

.selected {
  opacity: 1;
}

.filter.selected::after {
  content: '';
  display: block;
  margin-top: var(--small-space-rem);
  border: 1.5px solid var(--item-hover-color);
}
