@value large-space-em, medium-space-rem, small-space-rem, app-border-radius, button-scale from '../../common/size.css';
@value dark-body-point-color, dark-font-color, charcoal-color, none-white-color, item-hover-color, point-color from '../../common/colors.css';

.header {
  display: flex;
  justify-content: space-between;
  background-color: none-white-color;
  padding: large-space-em small-space-rem;
  border-radius: app-border-radius app-border-radius 0 0;
}

.header.dark {
  background-color: dark-body-point-color;
}

.dark .theme {
  color: dark-font-color;
}

.icons {
  display: flex;
  padding-right: medium-space-rem;
}

.theme,
.icon {
  margin-left: medium-space-rem;
  cursor: pointer;
}

.theme:hover,
.icon:hover {
  transform: button-scale;
}

.theme {
  background: transparent;
}

.icon {
  color: point-color;
}

.selected {
  border-bottom: 2px solid charcoal-color;
  padding-bottom: small-space-rem;
  font-weight: bold;
}
