@value large-space-rem, input-border-radius, font-basic-size, add-input-width, large-space-em, medium-space-em, medium-space-rem, app-border-radius, button-scale from '../../common/size.css';
@value white-color, none-white-color, item-before-color, item-hover-color, point-color from '../../common/colors.css';

.footer {
  background-color: none-white-color;
  padding: large-space-em 0;
  text-align: center;
  border-radius: 0 0 app-border-radius app-border-radius;
}

.input {
  width: add-input-width;
  padding: medium-space-em medium-space-rem;
  font-size: font-basic-size;
  border-radius: input-border-radius;
  border: 0.5px solid item-before-color;
}

.input:hover,
.input:focus {
  outline: 0.5px solid point-color;
}

.addBtn {
  padding: medium-space-em large-space-rem;
  font-size: font-basic-size;
  background-color: point-color;
  border-radius: input-border-radius;
  color: none-white-color;
}

.addBtn:hover {
  transform: button-scale;
}
