.footer {
  background-color: var(--none-white-color);
  padding: var(--large-space-em) 0;
  text-align: center;
  border-radius: 0 0 var(--app-border-radius) var(--app-border-radius);
}

.footer.dark {
  background-color: var(--dark-body-point-color);
  color: var(--dark-font-color);
}

.input {
  width: var(--add-input-width);
  padding: var(--medium-space-em) var(--medium-space-rem);
  font-size: var(--font-basic-size);
  border-radius: var(--input-border-radius);
  border: 0.5px solid var(--item-before-color);
}

.input:hover,
.input:focus {
  outline: 0.5px solid var(--point-color);
}

.addBtn {
  padding: var(--medium-space-em) var(--large-space-rem);
  font-size: var(--font-basic-size);
  background-color: var(--point-color);
  border-radius: var(--input-border-radius);
  color: var(--none-white-color);
}

.addBtn:hover {
  transform: var(--button-scale);
}
