.app {
  width: var(--app-width);
  height: var(--app-height);
  background-color: var(--white-color);
  border-radius: var(--app-border-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 18px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 18px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 18px 5px rgba(0, 0, 0, 0.75);
}
